In [2]:
import pandas as pd

In [3]:
permits_df = pd.read_csv('Issued_Construction_Permits.csv')

C:\Users\david\AppData\Local\Temp\ipykernel_980\2835524817.py:1: DtypeWarning: Columns (53,54,55,56,58,59,60,61,62,63,64,65) have mixed types. Specify dtype option on import or set low_memory=False.
  permits_df = pd.read_csv('Issued_Construction_Permits.csv')

In [4]:
permits_df.head(3)

,Permit Type,Permit Type Desc,Permit Num,Permit Class Mapped,Permit Class,Work Class,Condominium,Project Name,Description,TCAD ID,...,Contractor Zip,Applicant Full Name,Applicant Organization,Applicant Phone,Applicant Address 1,Applicant Address 2,Applicant City,Applicant Zip,Certificate Of Occupancy,Total Lot SQFT
0,PP,Plumbing Permit,2023-018509 PP,Commercial,Commercial,New,No,12733 TESLA ROAD,Natural Gas for Die Cast Machines 50000 sqft n...,0315410104,...,78704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN
1,PP,Plumbing Permit,1980-000948 PP,Commercial,NaN,New,No,13618 Long Meadow Drive R 00000,M H,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN
2,PP,Plumbing Permit,1982-013888 PP,Commercial,NaN,New,No,708 Dessau Road C 00000,Install Water,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN

In [12]:
permits_df.columns

Index(['Permit Type', 'Permit Type Desc', 'Permit Num', 'Permit Class Mapped',
       'Permit Class', 'Work Class', 'Condominium', 'Project Name',
       'Description', 'TCAD ID', 'Property Legal Description', 'Applied Date',
       'Issued Date', 'Day Issued', 'Calendar Year Issued',
       'Fiscal Year Issued', 'Issued In Last 30 Days', 'Issuance Method',
       'Status Current', 'Status Date', 'Expires Date', 'Completed Date',
       'Total Existing Bldg SQFT', 'Remodel Repair SQFT', 'Total New Add SQFT',
       'Total Valuation Remodel', 'Total Job Valuation', 'Number Of Floors',
       'Housing Units', 'Building Valuation', 'Building Valuation Remodel',
       'Electrical Valuation', 'Electrical Valuation Remodel',
       'Mechanical Valuation', 'Mechanical Valuation Remodel',
       'Plumbing Valuation', 'Plumbing Valuation Remodel', 'MedGas Valuation',
       'MedGas Valuation Remodel', 'Original Address 1', 'Original City',
       'Original State', 'Original Zip', 'Council District', 'Jurisdiction',
       'Link', 'Project ID', 'Master Permit Num', 'Latitude', 'Longitude',
       'Location', 'Contractor Trade', 'Contractor Company Name',
       'Contractor Full Name', 'Contractor Phone', 'Contractor Address 1',
       'Contractor Address 2', 'Contractor City', 'Contractor Zip',
       'Applicant Full Name', 'Applicant Organization', 'Applicant Phone',
       'Applicant Address 1', 'Applicant Address 2', 'Applicant City',
       'Applicant Zip', 'Certificate Of Occupancy', 'Total Lot SQFT'],
      dtype='object')

In [16]:
fiscal_years = list(permits_df['Fiscal Year Issued'].unique())
fiscal_years.sort()
fiscal_years

[np.int64(1921),
 np.int64(1969),
 np.int64(1970),
 np.int64(1971),
 np.int64(1976),
 np.int64(1977),
 np.int64(1978),
 np.int64(1979),
 np.int64(1980),
 np.int64(1981),
 np.int64(1982),
 np.int64(1983),
 np.int64(1984),
 np.int64(1985),
 np.int64(1986),
 np.int64(1987),
 np.int64(1988),
 np.int64(1989),
 np.int64(1990),
 np.int64(1991),
 np.int64(1992),
 np.int64(1993),
 np.int64(1994),
 np.int64(1995),
 np.int64(1996),
 np.int64(1997),
 np.int64(1998),
 np.int64(1999),
 np.int64(2000),
 np.int64(2001),
 np.int64(2002),
 np.int64(2003),
 np.int64(2004),
 np.int64(2005),
 np.int64(2006),
 np.int64(2007),
 np.int64(2008),
 np.int64(2009),
 np.int64(2010),
 np.int64(2011),
 np.int64(2012),
 np.int64(2013),
 np.int64(2014),
 np.int64(2015),
 np.int64(2016),
 np.int64(2017),
 np.int64(2018),
 np.int64(2019),
 np.int64(2020),
 np.int64(2021),
 np.int64(2022),
 np.int64(2023),
 np.int64(2024)]

In [8]:
permits_df.loc[permits_df['Fiscal Year Issued'] == 2016]['Permit Class Mapped'].unique()

array(['Residential', 'Commercial'], dtype=object)